* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding: 0 140px;
}

.dark-mode {
    background-color: black;
}

.container {
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    padding: 30px;
    text-align: justify;
    line-height: 30px;
}

.dark-mode .container{
    background-color: white;
    color: black;
}

.dark-mode .container h1{
    color: black;
}

.dark-mode .container h2{
    color: black;
}

.dark-mode .container .CodeSpace{
    background: rgba(0, 0, 0, 0.74);
}

h1 {
    color: blanchedalmond;
}

h2 {
    margin: 10px 0;
    color: blanchedalmond;
}

ul {
    list-style-position: inside;
}

li {
    margin: 12px 0;
}

main {
    line-height: 25px;
}

.CodeSpace {
    background: rgba(0, 0, 0, 0.253);
    transition: background-color 3s;
    width: 66%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.CodeSpace:hover {
    transform: scale3d(1s);
}

code {
    color: white;
}

div > main {
    display: none;
}

.rate {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.822);
    border-bottom: transparent;
    border-radius: 5px;
    margin: 20px 20px 0;
    justify-content: center;
}

.fa {
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: rgb(0, 0, 192);
}

@media screen and (max-width: 850px) {
    body {
        padding: 0 40px;
    }
}